<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CruiseManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="CSM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CruiseManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CruiseManager.Properties.Settings>
      <setting name="DefaultCruiseSaveLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultTemplateSaveLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="CreateSaleFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="FileNameFormat" serializeAs="String">
        <value />
      </setting>
      <setting name="App_NavFont" serializeAs="String">
        <value>Segoe UI Semibold, 12pt, style=Bold</value>
      </setting>
      <setting name="UserRegion" serializeAs="String">
        <value />
      </setting>
    </CruiseManager.Properties.Settings>
    <CSM.Properties.Settings>
      <setting name="DefaultCruiseSaveLocation" serializeAs="String">
        <value/>
      </setting>
      <setting name="DefaultTemplateSaveLocation" serializeAs="String">
        <value/>
      </setting>
      <setting name="CreateSaleFolder" serializeAs="String">
        <value/>
      </setting>
      <setting name="RecentFiles" serializeAs="String">
        <value/>
      </setting>
      <setting name="FileNameFormat" serializeAs="String">
        <value/>
      </setting>
      <setting name="App_NavFont" serializeAs="String">
        <value>Segoe UI Semibold, 12pt, style=Bold</value>
      </setting>
    </CSM.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <applicationSettings>
    <CruiseManager.Properties.Settings>
      <setting name="AppFont" serializeAs="String">
        <value>Segoe UI, 8.25pt</value>
      </setting>
    </CruiseManager.Properties.Settings>
  </applicationSettings>
</configuration>
